<div class="hero-unit hero-unit-prelaunch">
	<div class="logo-prelaunch">
		<div class="row">
			<div class="offset4 span6">
				<h2><br>International startups, technology<br> and culture, lah.</h2>
				<p>Think Gangham Style meets Startup Chile. And a puppy named Gorbachev.</p>
				<hr>
				<h1>relaunching soon</h1>
				<br>
				<hr>
				<p>For more, check out ehip on... </p>
				<div class="btn-toolbar">
					<a href="http://facebook.com/ehip" target="_blank" class="btn btn-large btn-primary"><h3>Facebook</h3></a>
					<a href="http://twitter.com/ehipnews" target="_blank" class="btn btn-large btn-info"><h3>Twitter</h3></a>
				</div><!-- end:toolbar -->
			</div><!-- end:span6 -->
		</div><!-- end:row -->
	</div><!-- end:logo-prelaunch -->
</div><!-- end:hero-unit -->