<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
    	<div style="padding: 0; margin: 0; font-family: 'Puritan', sans-serif; font-size: 200%;"><%= link_to image_tag(asset_path 'ehip_header.png', :border => 0, :alt => "ehip", :size => "72x36"), root_path, id: "logo", class: "brand" %></div>
      <nav>
        <ul class="nav pull-right">
          <li class="follow"><a href="https://twitter.com/ehipnews" class="twitter-follow-button" data-show-count="false" data-size="" data-show-screen-name="false">Follow @ehipnews</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
          <li class="follow"><div class="fb-like" data-href="http://facebook.com/ehip" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false" data-font="verdana"></div></li>
        </ul>
      </nav>
    </div>
  </div>
</header>